@charset 'UTF-8';
body {
	font-size: 115% !important;
}
@media (orientation:landscape) {
	img.wallThumb {
		border: 0;
		margin: 1px 1px -4px 0;
		max-width: 300px;
		width: 24.8%;
		height: auto;
	}
	img.wallThumbL {
		border: 0;
		margin: 1px 1px -4px 0;
		max-width: 300px;
		width: 25%;
		height: auto;
	}
}
@media (orientation:portrait) {
	img.wallThumb {
		border: 0;
		margin: 1px 1px -4px 0;
		max-width: 300px;
		width: 32.8%;
		height: auto;
	}
	img.wallThumbL {
		border: 0;
		margin: 1px 1px -4px 0;
		max-width: 300px;
		width: 33.3%;
		height: auto;
	}
}
li.headerSpace {
	height: 1.50em;
	padding: 0;
	margin: 0;
}